html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff00;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* 420px -> 0px */
@keyframes move {
  0% {
    transform: translate(250px, 0);
  }
  100% {
    transform: translate(50px, 0);
  }
}

@keyframes move-2 {
  0% {
    transform: translate(220px, 0);
  }
  50% {
    transform: translate(10px, 0);
  }
  100% {
    transform: translate(-205px, 0);
  }
}

@keyframes move-3 {
  0% {
    transform: translate(420px, 0);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.datetext {
  font-family: "Courier Prime", monospace;
  font-size: xx-large;
  text-anchor: middle;
  /* animation: 10s fade 4.5s forwards; */
}

#logo-yellow-mask,
#logo-black-mask,
.stripe-rect {
  /* animation: 3s move infinite alternate ease-in-out; */
  animation: 3s move-2 infinite ease-in-out;
  /* animation: 3s move-3 infinite linear; */
  /* transform: translate(50px, 0); */
}
