html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffff00;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

svg {
  position: absolute;
  height: 100%;
  width: 100%;
}

@keyframes move-2 {
  0% {
    transform: translate(0px, 0);
  }
  100% {
    transform: translate(-420px, 0);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.datetext {
  font-family: "Courier Prime", monospace;
  font-size: xx-large;
  text-anchor: middle;
}

#logo-black, #logo-yellow {
  max-width: 777px;
}

#logo-yellow-mask,
#logo-black-mask,
.stripe-rect {
  animation: move-2 10s infinite linear;
}

.btn {
  font-family: "Courier Prime", monospace;
  position: absolute;
  background-color: white;
  color: black;
  z-index: 99;
  font-size: xx-large;
  text-anchor: middle;
  cursor: pointer;
  text-decoration: underline;
  text-shadow: 2px 2px yellow;
  border: 5px white solid;
  border-radius: 5px;
  box-shadow: 5px 5px #0000000f;
}

.btn:hover {
  color: #ffff00;
  background-color: black;
  margin-top: 5px;
  border-color: black;
  text-shadow: none;
  box-shadow: none;
}

.btn-tickets {
  top: 82%;
}

.btn-social {
  top: 90%;
}

.la-ticket-alt {
  transform: rotate(-45deg);
}
